{% extends 'shop/main.html' %}

{% block content %}

<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Customer</th>
      <th scope="col">Date created</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
        <tr>
            {% include 'shop/orders/_order.html' %}
            <td><a class="btn btn-primary" href="{% url 'show_order' object.id%}" role="button">Details</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
