{% extends 'shop/main.html' %}

{% block content %}
<br>
<div class="container">
  <div class="row">
    <div class="col-md-5">
        <div class="card-header">
            <h3>Are you sure?</h3>
        </div>
        <div class="card card-body">
                <form action="{% url 'delete_outlet' outlet.id %}" method="post">
                <a class="btn btn-secondary" href="{% url 'show_outlet' outlet.id%}">Not really</a>
                {% csrf_token %}
                <input type="submit" value="Submit" class="btn btn-danger" >
                </form>
        </div>
    </div>
  </div>
</div>
{% endblock %}