{% extends 'shop/main.html' %}

{% block content %}

<div class="container">
  <div class="row align-items-center">
    <div class="col-8">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Address</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                {% include 'shop/outlets/_outlet.html' %}
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-1">
        <a class="btn btn-primary" href="{% url 'update_outlet' object.id %}" role="button">Update</a>
    </div>
    <div class="col-1">
        <a class="btn btn-danger" href="{% url 'delete_outlet' object.id %}"role="button">Delete</a>
    </div>
    <div class="col-1">
        <a class="btn btn-secondary" href="{% url 'index_outlets' %}" role="button">Back</a>
    </div>
    <div class="col-1">
        <a class="btn btn-warning" href="{% url 'create_manager' pk=object.id %}" role="button">Add manager+</a>
    </div>
  </div>
    {% include 'shop/outlets/index_managers.html' %}

    {% block managers_content %}

    {% endblock %}
</div>
{% endblock %}